form {
    
    padding: 0;
    margin: 0 auto;
    
    align-items: center;
    border: 1px solid black;
    padding: 25px;
    border-radius: 5px;
    width: 500px;
    background-color: #d3d3d3
}
div {
    display: flex;
    align-items: center;
    margin-top: 100px;
}


input[type="email" ], input[type="text"] {
    
    appearance: none;
    margin: 0;
    border: 1px solid #fdd;
}
input:invalid {
    border-color: #900;
    background-color: #fdd;
}
input:valid {
    border-color: green;
    background-color: greenyellow;
}
input:focus:invalid {
    outline: none;
}
#btn {
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 1em;
    font-weight: 900;
    color: white;
    background-color:blue;
    border-radius: 5px;
    border: none;
}
.error {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
    color: #900;
    border-radius: 5px;
    font-weight: 900;
    padding: 4px;
    margin-left: 5px;
}
.error .active {
    padding: 0.3em;
}

  